ul {
    list-style: none;
}
main {
    background: url(images/background.jpg);
}
a {
    color: rgb(112, 87, 204);
    font-size: 30px;
    
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.navig {
    background: url(images/image2.jpg);
}
.p {
    font-size: 30px;
    position: fixed;
    font-weight: 900;
    font-family: cursive;
    transform: rotate(25deg);
    top: 50px;
    left: 15px;
}